## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Atuona,PF,-9.8000,-139.0333,78.28,75,1,18.32,clear sky
1,1,Scottsbluff,US,41.8666,-103.6672,48.78,29,0,18.99,clear sky
2,2,Srednekolymsk,RU,67.4500,153.6833,-39.39,99,54,4.88,broken clouds
3,3,Tiruchchendur,IN,8.4833,78.1167,93.49,59,2,15.10,clear sky
4,4,Kilinochchi,LK,9.3961,80.3982,83.41,52,10,10.65,clear sky

In [4]:
# Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 30
What is the maximum temperature you would like for your trip? 80

In [5]:
# Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Atuona,PF,-9.8000,-139.0333,78.28,75,1,18.32,clear sky
1,1,Scottsbluff,US,41.8666,-103.6672,48.78,29,0,18.99,clear sky
5,5,Katsuura,JP,35.1333,140.3000,48.24,79,62,6.02,broken clouds
6,6,Ushuaia,AR,-54.8000,-68.3000,47.86,87,100,11.50,light rain
7,7,Bredasdorp,ZA,-34.5322,20.0403,76.28,78,0,1.14,clear sky
9,9,Busselton,AU,-33.6500,115.3333,73.63,58,34,10.31,scattered clouds
12,12,Masterton,NZ,-40.9597,175.6575,67.95,98,100,2.21,overcast clouds
13,13,Guerrero Negro,MX,27.9769,-114.0611,61.25,48,0,2.30,clear sky
14,14,Hilo,US,19.7297,-155.0900,69.53,92,100,4.61,light rain
16,16,Hermanus,ZA,-34.4187,19.2345,76.80,75,2,6.46,clear sky

In [6]:
# Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                435
City                   435
Country                431
Lat                    435
Lng                    435
Max Temp               435
Humidity               435
Cloudiness             435
Wind Speed             435
Current Description    435
dtype: int64

In [7]:
# Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID                431
City                   431
Country                431
Lat                    431
Lng                    431
Max Temp               431
Humidity               431
Cloudiness             431
Wind Speed             431
Current Description    431
dtype: int64

In [8]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Atuona,PF,78.28,clear sky,-9.8000,-139.0333,
1,Scottsbluff,US,48.78,clear sky,41.8666,-103.6672,
5,Katsuura,JP,48.24,broken clouds,35.1333,140.3000,
6,Ushuaia,AR,47.86,light rain,-54.8000,-68.3000,
7,Bredasdorp,ZA,76.28,clear sky,-34.5322,20.0403,
9,Busselton,AU,73.63,scattered clouds,-33.6500,115.3333,
12,Masterton,NZ,67.95,overcast clouds,-40.9597,175.6575,
13,Guerrero Negro,MX,61.25,clear sky,27.9769,-114.0611,
14,Hilo,US,69.53,light rain,19.7297,-155.0900,
16,Hermanus,ZA,76.80,clear sky,-34.4187,19.2345,

In [10]:
# Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
        
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# Check for empty rows.
hotel_df.count()

City                   431
Country                431
Max Temp               431
Current Description    431
Lat                    431
Lng                    431
Hotel Name             431
dtype: int64

In [15]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Atuona,PF,78.28,clear sky,-9.8000,-139.0333,Villa Enata
1,Scottsbluff,US,48.78,clear sky,41.8666,-103.6672,Hampton Inn & Suites Scottsbluff-Conference Ce...
5,Katsuura,JP,48.24,broken clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
6,Ushuaia,AR,47.86,light rain,-54.8000,-68.3000,Albatross Hotel
7,Bredasdorp,ZA,76.28,clear sky,-34.5322,20.0403,Bredasdorp Country Manor
9,Busselton,AU,73.63,scattered clouds,-33.6500,115.3333,Observatory Guest House
12,Masterton,NZ,67.95,overcast clouds,-40.9597,175.6575,Copthorne Hotel & Resort Solway Park Wairarapa
13,Guerrero Negro,MX,61.25,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
14,Hilo,US,69.53,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
16,Hermanus,ZA,76.80,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel

In [16]:
# Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [20]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))